*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(IronMan2.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color:#FF4848;
    font-size: 13px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
h1 {
    color:#fff;
    font-size: 84px;
    line-height: 15px;
}
p {  
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}
button {
    width: 180px;
    background-color:#FF4848;
    color: white;
    font-size: 12px;
    padding: 12px 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 50px;

}
.card  {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;

}
.card1 {
    background-image: url(IronManpic2.jpeg);

}
.card2 {
    background-image: url(ironmanHelmet.jpeg);

}
.card3 {
    background-image: url(MarkII-IM.png);

}
.card4 {
    background-image: url(TonyCounch.jpg);

}

.card:hover {
    transform: translateY(-10px);
}
h5 {
    color: #fff;
    text-shadow: 0 0  5px #999;
}

.card p {
    text-shadow: 0 0  15px #000;
    font-size: 8px;

}
.imagLOGO {
    width: 125px;
}

#pmain {
    margin-top: 20px;
}